# Ignore Python cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS specific file
.DS_Store

# Ignore all .txt files
*.txt

*.env